.mt-3 {
  margin-top: 1.5rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.Footer {
  &__Row {
    display: flex;

    &__Col {
      &__Second {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}

.Index {
  &__Row {
    &__Col {
      &__Table {
        &__TBody {
          &__TRow {
            &__TData {
              display: flex;
              justify-content: space-evenly;
            }
          }
        }
      }
    }
  }
}